/*! nouislider - 9.2.0 - 2017-01-11 10:35:35 */
.noUi-target, .noUi-target *{ -moz-box-sizing:border-box; box-sizing:border-box; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; -webkit-tap-highlight-color:transparent; -ms-touch-action:none; touch-action:none; -webkit-touch-callout:none; }
.noUi-target{ position:relative; direction:ltr; }
.noUi-base{ position:relative; z-index:1; width:100%; height:100%; }
.noUi-connect{ position:absolute; top:0; right:0; bottom:0; left:0; }
.noUi-origin{ position:absolute; width:0; height:0; }
.noUi-handle{ position:relative; z-index:1; }
.noUi-state-tap .noUi-connect, .noUi-state-tap .noUi-origin{ -webkit-transition:top .3s, right .3s, bottom .3s, left .3s; transition:top .3s, right .3s, bottom .3s, left .3s; }
.noUi-state-drag *{ cursor:inherit !important; }
.noUi-base, .noUi-handle{ -webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); }
.noUi-horizontal{ height:18px; }
.noUi-horizontal .noUi-handle{ top:-6px; left:-17px; width:34px; height:28px; }
.noUi-vertical{ width:18px; }
.noUi-vertical .noUi-handle{ top:-17px; left:-6px; width:28px; height:34px; }
.noUi-target{ border:1px solid #d3d3d3; border-radius:4px; background:#fafafa; box-shadow:inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb; }
.noUi-connect{ background:#3fb8af; box-shadow:inset 0 0 3px rgba(51, 51, 51, .45); -webkit-transition:background 450ms; transition:background 450ms; }
.noUi-draggable{ cursor:ew-resize; }
.noUi-vertical .noUi-draggable{ cursor:ns-resize; }
.noUi-handle{ border:1px solid #d9d9d9; border-radius:3px; background:#fff; box-shadow:inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb; cursor:default; }
.noUi-active{ box-shadow:inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb; }
.noUi-handle:after, .noUi-handle:before{ display:block; position:absolute; top:6px; left:14px; width:1px; height:14px; background:#e8e7e6; content:""; }
.noUi-handle:after{ left:17px; }
.noUi-vertical .noUi-handle:after, .noUi-vertical .noUi-handle:before{ top:14px; left:6px; width:14px; height:1px; }
.noUi-vertical .noUi-handle:after{ top:17px; }
[disabled] .noUi-connect{ background:#b8b8b8; }
[disabled] .noUi-handle, [disabled].noUi-handle, [disabled].noUi-target{ cursor:not-allowed; }
.noUi-pips, .noUi-pips *{ -moz-box-sizing:border-box; box-sizing:border-box; }
.noUi-pips{ position:absolute; color:#999; }
.noUi-value{ position:absolute; text-align:center; }
.noUi-value-sub{ color:#ccc; font-size:10px; }
.noUi-marker{ position:absolute; background:#ccc; }
.noUi-marker-large, .noUi-marker-sub{ background:#aaa; }
.noUi-pips-horizontal{ top:100%; left:0; width:100%; height:80px; padding:10px 0; }
.noUi-value-horizontal{ -webkit-transform:translate3d(-50%, 50%, 0); transform:translate3d(-50%, 50%, 0); }
.noUi-marker-horizontal.noUi-marker{ width:2px; height:5px; margin-left:-1px; }
.noUi-marker-horizontal.noUi-marker-sub{ height:10px; }
.noUi-marker-horizontal.noUi-marker-large{ height:15px; }
.noUi-pips-vertical{ top:0; left:100%; height:100%; padding:0 10px; }
.noUi-value-vertical{ padding-left:25px; -webkit-transform:translate3d(0, 50%, 0); transform:translate3d(0, 50%, 0); }
.noUi-marker-vertical.noUi-marker{ width:5px; height:2px; margin-top:-1px; }
.noUi-marker-vertical.noUi-marker-sub{ width:10px; }
.noUi-marker-vertical.noUi-marker-large{ width:15px; }
.noUi-tooltip{ display:block; position:absolute; padding:5px; border:1px solid #d9d9d9; border-radius:3px; color:#000; background:#fff; text-align:center; }
.noUi-horizontal .noUi-tooltip{ bottom:120%; left:50%; -webkit-transform:translate(-50%, 0); transform:translate(-50%, 0); }
.noUi-vertical .noUi-tooltip{ top:50%; right:120%; -webkit-transform:translate(0, -50%); transform:translate(0, -50%); }