/*************** SCROLLBAR BASE CSS ***************/
.scroll-wrapper{ overflow:hidden !important; position:relative; padding:0 !important; }
.scroll-wrapper > .scroll-content{ overflow:scroll !important; position:relative !important; top:0; left:0; box-sizing:content-box !important; width:auto !important; max-width:none !important; height:auto; max-height:none; margin:0; padding:0; border:none !important; }
.scroll-wrapper > .scroll-content::-webkit-scrollbar{ width:0; height:0; }
.scroll-wrapper.scroll--rtl{ direction:rtl; }
.scroll-element{ display:none; box-sizing:content-box; }
.scroll-element div{ box-sizing:content-box; }
.scroll-element .scroll-bar, .scroll-element .scroll-arrow{ cursor:default; }
.scroll-element.scroll-x.scroll-scrollx_visible, .scroll-element.scroll-y.scroll-scrolly_visible{ display:block; }
.scroll-textarea{ border:1px solid #ccc; border-top-color:#999; }
.scroll-textarea > .scroll-content{ overflow:hidden !important; }
.scroll-textarea > .scroll-content > textarea{ overflow:scroll !important; position:relative !important; top:0; box-sizing:border-box; width:100% !important; max-width:none !important; height:100% !important; max-height:none !important; margin:0; padding:2px; border:none !important; outline:none; }
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar{ width:0; height:0; }
/*************** SIMPLE INNER SCROLLBAR ***************/
.scrollbar-inner > .scroll-element, .scrollbar-inner > .scroll-element div{ position:absolute; z-index:10; margin:0; padding:0; border:none; }
.scrollbar-inner > .scroll-element div{ display:block; top:0; left:0; width:100%; height:100%; }
.scrollbar-inner > .scroll-element.scroll-x{ bottom:2px; left:0; width:100%; height:8px; }
.scrollbar-inner > .scroll-element.scroll-y{ top:0; right:2px; width:8px; height:100%; }
.scrollbar-inner > .scroll-element .scroll-element_outer{ overflow:hidden; }
.scrollbar-inner > .scroll-element .scroll-element_outer, .scrollbar-inner > .scroll-element .scroll-element_track, .scrollbar-inner > .scroll-element .scroll-bar{ -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; }
.scrollbar-inner > .scroll-element .scroll-element_track, .scrollbar-inner > .scroll-element .scroll-bar{ opacity:.4; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; filter:alpha(opacity=40); }
.scrollbar-inner > .scroll-element .scroll-element_track{ background-color:#e0e0e0; }
.scrollbar-inner > .scroll-element .scroll-bar{ background-color:#c2c2c2; }
.scrollbar-inner > .scroll-element:hover .scroll-bar{ background-color:#919191; }
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar{ background-color:#919191; }
/* update scrollbar offset if both scrolls are visible */
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track{ left:-12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track{ top:-12px; }
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size{ left:-12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size{ top:-12px; }