.selectBox-dropdown{
    min-width:150px;
    position:relative;
    border:1px solid #c7c6c5;
    line-height:1;
    text-decoration:none;
    text-align:left;
    outline:none;
    vertical-align:middle;
    background:white;
    border-radius:0;
    display:inline-block;
    cursor:pointer;
}
.selectBox-dropdown:hover{
    border:1px solid #c7c6c5;
}
.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow{
    border-color:#666;
}
.selectBox-dropdown.selectBox-menuShowing{
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-bottomright:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}
.selectBox-dropdown .selectBox-label{
    display:inline-block;
    white-space:nowrap;
    overflow:hidden;
    vertical-align:middle;
}
.selectBox-dropdown .selectBox-arrow{
    -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease;
    position:absolute;
    top:0;
    right:0;
    width:44px;
    height:100%;
    text-align:center;
}
.selectBox-menuShowing.selectBox-dropdown .selectBox-arrow{
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}
.selectBox-arrow:before{
    content:"";
    display:block;
    border:5px solid transparent;
    border-top-color:#c2c2c3;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:3px;
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}
/* Dropdown menu */
.selectBox-dropdown-menu{
    position:absolute;
    z-index:99999;
    max-height:200px;
    min-height:1em;
    border:solid 1px black; /* should be the same border width as .selectBox-dropdown */
    background:#fff;
    border-top-color:transparent;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
}
/* Inline control */
.selectBox-inline{
    min-width:150px;
    outline:none;
    border:solid 1px #bbb;
    background:#fff;
    display:inline-block;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    overflow:auto;
}
.selectBox-inline:focus{
    border-color:#666;
}
/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A{
    list-style:none;
    display:block;
    cursor:default;
    padding:0;
    margin:0;
}
.selectBox-options LI A{
    line-height:1.5;
    white-space:nowrap;
    overflow:hidden;
    cursor:pointer;
    -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease;
}
.selectBox-dropdown .selectBox-label, .selectBox-options LI A{
    padding:0.5em 15px;
}
.selectBox-options LI.selectBox-hover A{
    background-color:#e3e2e2;
}
.selectBox-options LI.selectBox-disabled A{
    background-color:transparent;
}
.selectBox-options LI.selectBox-selected A{
    background-color:#e3e2e2;
}
.selectBox-options .selectBox-optgroup{
    color:#666;
    background:#eee;
    font-weight:bold;
    line-height:1.5;
    padding:0 .3em;
    white-space:nowrap;
}
/* Disabled state */
.selectBox.selectBox-disabled{
    color:#888 !important;
}
.selectBox-dropdown.selectBox-disabled .selectBox-arrow{
    opacity:.5;
    filter:alpha(opacity=50);
    border-color:#666;
}
.selectBox-inline.selectBox-disabled{
    color:#888 !important;
}
.selectBox-inline.selectBox-disabled .selectBox-options A{
    background-color:transparent !important;
}
