/*** RESET ***/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, sub, sup, var, a, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{ margin:0; padding:0; border:0; outline:0 none; background:transparent; font-size:100%; vertical-align:baseline; -moz-osx-font-smoothing:grayscale; text-rendering:optimizeLegibility; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section{ display:block; }
img, a img, :link img, :visited img{ border:0; outline:none; }
table{ border-spacing:0; border-collapse:collapse; }
tr{ vertical-align:middle; }
th, td{ vertical-align:inherit; }
blockquote, q{ quotes:none; }
blockquote:before, blockquote:after, q:before, q:after{ content:""; content:none; }
ins{ color:#000; background:#999; text-decoration:none; }
mark{ display:inline-block; padding:0 .5em; color:#000; background-color:#d1d6d7; font-weight:400; font-style:normal; line-height:1.5; vertical-align:middle; }
del{ text-decoration:line-through; }
abbr[title], dfn[title]{ border:1px dotted #999; cursor:help; }
hr{ display:block; height:1px; margin:1em 0; padding:0; border:0; background:#d1d6d7; }
button, input, select, textarea{ -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin:0; padding:0; outline:0 none; vertical-align:middle; -webkit-appearance:none; -moz-appearance:none; appearance:none; }
button, input{ overflow:visible; width:auto; }
button::-moz-focus-inner, input::-moz-focus-inner, select::-moz-focus-inner, textarea::-moz-focus-inner{ padding:0; border:0; }
textarea{ overflow:auto; vertical-align:top; resize:none; }
input[type="button"], input[type="submit"], input[type="reset"], button{ cursor:pointer; }
input[type="checkbox"]{ -webkit-appearance:checkbox; -moz-appearance:checkbox; appearance:checkbox; }
input[type="radio"]{ -webkit-appearance:radio; -moz-appearance:radio; appearance:radio; }
::-webkit-input-placeholder{ color:#999; }
:-moz-placeholder{ color:#999; }
::-moz-placeholder{ color:#999; }
:-ms-input-placeholder{ color:#999; }
pre, code, kbd, samp{ font-family:monospace, sans-serif; }
html{ overflow-y:scroll; }
small, .small, .b{ font-size:.875em; }
big, .big{ font-size:1.25em; }
b, strong{ font-weight:700; }
i, em{ font-style:italic; }
sub{ font-size:smaller; line-height:.5; vertical-align:sub; }
sup{ font-size:smaller; line-height:.5; vertical-align:super; }
pre{ padding:2em; white-space:pre; white-space:pre-wrap; word-wrap:break-word; }
img{ max-width:100%; }
label{ cursor:pointer; }
/*** GRID ***/
.d-grid{ display:block; max-width:1230px; margin-right:auto; margin-left:auto; padding-right:15px; padding-left:15px; }
.is-liquid-layout .d-grid{ max-width:100%; }
.is-fixed-layout .d-grid{ width:1176px; }
.d-row{ display:block; margin-right:-15px; margin-left:-15px; }
.d-row_ib{ word-spacing:-5px; }
.d-row_ib > *{ word-spacing:0; }
.d-col{ display:inline-block; float:left; position:relative; width:100%; min-height:1px; padding-right:15px; padding-left:15px; vertical-align:top; }
.d-col.d-fr{ float:right; }
.d-row_ib .d-col{ float:none; }
.d-col_xs_1{ width:8.33%; }
.d-col_xs_2{ width:16.66%; }
.d-col_xs_3{ width:25%; }
.d-col_xs_4{ width:33.33%; }
.d-col_xs_5{ width:41.66%; }
.d-col_xs_6{ width:50%; }
.d-col_xs_7{ width:58.33%; }
.d-col_xs_8{ width:66.66%; }
.d-col_xs_9{ width:75%; }
.d-col_xs_10{ width:83.33%; }
.d-col_xs_11{ width:91.66%; }
.d-col_xs_12{ width:100%; }
.d-col-offset_xs_0{ margin-left:0; }
.d-col-offset_xs_1{ margin-left:8.33%; }
.d-col-offset_xs_2{ margin-left:16.66%; }
.d-col-offset_xs_3{ margin-left:25%; }
.d-col-offset_xs_4{ margin-left:33.33%; }
.d-col-offset_xs_5{ margin-left:41.66%; }
.d-col-offset_xs_6{ margin-left:50%; }
.d-col-offset_xs_7{ margin-left:58.33%; }
.d-col-offset_xs_8{ margin-left:66.66%; }
.d-col-offset_xs_9{ margin-left:75%; }
.d-col-offset_xs_10{ margin-left:83.33%; }
.d-col-offset_xs_11{ margin-left:91.66%; }
.d-col-offset_xs_12{ margin-left:100%; }
@media (min-width:640px) {
  .d-col_sm_1{ width:8.33%; }
  .d-col_sm_2{ width:16.66%; }
  .d-col_sm_3{ width:25%; }
  .d-col_sm_4{ width:33.33%; }
  .d-col_sm_5{ width:41.66%; }
  .d-col_sm_6{ width:50%; }
  .d-col_sm_7{ width:58.33%; }
  .d-col_sm_8{ width:66.66%; }
  .d-col_sm_9{ width:75%; }
  .d-col_sm_10{ width:83.33%; }
  .d-col_sm_11{ width:91.66%; }
  .d-col_sm_12{ width:100%; }
  .d-col-offset_sm_0{ margin-left:0; }
  .d-col-offset_sm_1{ margin-left:8.33%; }
  .d-col-offset_sm_2{ margin-left:16.66%; }
  .d-col-offset_sm_3{ margin-left:25%; }
  .d-col-offset_sm_4{ margin-left:33.33%; }
  .d-col-offset_sm_5{ margin-left:41.66%; }
  .d-col-offset_sm_6{ margin-left:50%; }
  .d-col-offset_sm_7{ margin-left:58.33%; }
  .d-col-offset_sm_8{ margin-left:66.66%; }
  .d-col-offset_sm_9{ margin-left:75%; }
  .d-col-offset_sm_10{ margin-left:83.33%; }
  .d-col-offset_sm_11{ margin-left:91.66%; }
  .d-col-offset_sm_12{ margin-left:100%; }
}
@media (min-width:768px) {
  .d-col_md_1{ width:8.33%; }
  .d-col_md_2{ width:16.66%; }
  .d-col_md_3{ width:25%; }
  .d-col_md_4{ width:33.33%; }
  .d-col_md_5{ width:41.66%; }
  .d-col_md_6{ width:50%; }
  .d-col_md_7{ width:58.33%; }
  .d-col_md_8{ width:66.66%; }
  .d-col_md_9{ width:75%; }
  .d-col_md_10{ width:83.33%; }
  .d-col_md_11{ width:91.66%; }
  .d-col_md_12{ width:100%; }
  .d-col-offset_md_0{ margin-left:0; }
  .d-col-offset_md_1{ margin-left:8.33%; }
  .d-col-offset_md_2{ margin-left:16.66%; }
  .d-col-offset_md_3{ margin-left:25%; }
  .d-col-offset_md_4{ margin-left:33.33%; }
  .d-col-offset_md_5{ margin-left:41.66%; }
  .d-col-offset_md_6{ margin-left:50%; }
  .d-col-offset_md_7{ margin-left:58.33%; }
  .d-col-offset_md_8{ margin-left:66.66%; }
  .d-col-offset_md_9{ margin-left:75%; }
  .d-col-offset_md_10{ margin-left:83.33%; }
  .d-col-offset_md_11{ margin-left:91.66%; }
  .d-col-offset_md_12{ margin-left:100%; }
}
@media (min-width:1025px) {
  .d-col_lg_1{ width:8.33%; }
  .d-col_lg_2{ width:16.66%; }
  .d-col_lg_3{ width:25%; }
  .d-col_lg_4{ width:33.33%; }
  .d-col_lg_5{ width:41.66%; }
  .d-col_lg_6{ width:50%; }
  .d-col_lg_7{ width:58.33%; }
  .d-col_lg_8{ width:66.66%; }
  .d-col_lg_9{ width:75%; }
  .d-col_lg_10{ width:83.33%; }
  .d-col_lg_11{ width:91.66%; }
  .d-col_lg_12{ width:100%; }
  .d-col-offset_lg_0{ margin-left:0; }
  .d-col-offset_lg_1{ margin-left:8.33%; }
  .d-col-offset_lg_2{ margin-left:16.66%; }
  .d-col-offset_lg_3{ margin-left:25%; }
  .d-col-offset_lg_4{ margin-left:33.33%; }
  .d-col-offset_lg_5{ margin-left:41.66%; }
  .d-col-offset_lg_6{ margin-left:50%; }
  .d-col-offset_lg_7{ margin-left:58.33%; }
  .d-col-offset_lg_8{ margin-left:66.66%; }
  .d-col-offset_lg_9{ margin-left:75%; }
  .d-col-offset_lg_10{ margin-left:83.33%; }
  .d-col-offset_lg_11{ margin-left:91.66%; }
  .d-col-offset_lg_12{ margin-left:100%; }
}
@media (min-width:1170px) {
  .d-col_1{ width:8.33%; }
  .d-col_2{ width:16.66%; }
  .d-col_3{ width:25%; }
  .d-col_4{ width:33.33%; }
  .d-col_5{ width:41.66%; }
  .d-col_6{ width:50%; }
  .d-col_7{ width:58.33%; }
  .d-col_8{ width:66.66%; }
  .d-col_9{ width:75%; }
  .d-col_10{ width:83.33%; }
  .d-col_11{ width:91.66%; }
  .d-col_12{ width:100%; }
  .d-col-offset_0{ margin-left:0; }
  .d-col-offset_1{ margin-left:8.33%; }
  .d-col-offset_2{ margin-left:16.66%; }
  .d-col-offset_3{ margin-left:25%; }
  .d-col-offset_4{ margin-left:33.33%; }
  .d-col-offset_5{ margin-left:41.66%; }
  .d-col-offset_6{ margin-left:50%; }
  .d-col-offset_7{ margin-left:58.33%; }
  .d-col-offset_8{ margin-left:66.66%; }
  .d-col-offset_9{ margin-left:75%; }
  .d-col-offset_10{ margin-left:83.33%; }
  .d-col-offset_11{ margin-left:91.66%; }
  .d-col-offset_12{ margin-left:100%; }
}
/*** COMMON ***/
body{ color:#959595; background:white; font:16px/2.2 "Open Sans", Arial, Helvetica, sans-serif; font-weight:400 }
button, input, select, textarea{ font-size:inherit; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{ color:#2e2e2e; margin-bottom:55px; font-family:"Rubik", Arial, Helvetica, sans-serif; font-weight:900; line-height:1.5; }
h2, .h2{ font-size:2.25em; }
h2:not(.no-line):before, .h2:not(.no-line):before{ content:''; display:block;
  width:170px;
  height:13px;
  background-color:#cd0134;
  margin-bottom:45px;
}
h1, .h1{ font-size:3em; }
h3, .h3{ font-size:1.5em; }
h4, .h4{ font-size:1.125em; }
h5, .h5{ font-size:1em; }
h6, .h6{ font-size:.875em; }
.small{ font-size:.875em; }
.d-clr_red{ color:#cd0134 }
.d-clr_black{ color:black }
html{ box-sizing:border-box }
html *, html *:after, html *:before{ box-sizing:inherit }
a, .link{ text-decoration:none; color:inherit }
a.d-lnk-js, .d-lnk-js{ border-bottom:1px dotted; }
a:hover, a.d-lnk-js, .d-lnk-js:hover, a.d-lnk-tdn, .d-lnk-tdn a, a.d-lnk-js:hover{ text-decoration:none; }
a.d-lnk-tdn:hover, .d-lnk-tdn a:hover{ text-decoration:underline; }
a:hover, .link:hover, .link-target-hover:hover .link{ text-decoration:underline }
a.d-lnk-js:hover{ border-bottom-color:transparent; }
a.d-lnk-txt, .d-lnk-txt a{ border-color:inherit; color:inherit; }
a[href^="tel:"]{ border-bottom:0 !important; color:inherit !important; text-decoration:none !important; cursor:default; }
.d-bcth:hover, .d-bcth a:hover{ border-color:transparent; }
.d-bct{ border-color:transparent; }
.d-tdu{ text-decoration:underline }
p{ margin-bottom:1.5em; }
dd{ padding:0 0 1em 1em; }
ol, ul{ margin-bottom:1.5em; }
ol{ margin-left:1.5em; list-style-type:decimal; }
ul{ margin-left:1em; list-style:disc; }
li{ margin-bottom:.75em; }
nav ol, nav ul, nav li, fieldset ol, fieldset ul, fieldset li, .d-plain, .d-plain li, .d-plain dd, input.d-plain, button.d-plain, textarea.d-plain{ margin:0; padding:0; border:0; background:none; list-style:none; }
nav li:before, fieldset li:before, .d-plain li:before{ display:none; }
fieldset li{ margin-bottom:1.5em; }
.d-bsbb, .d-grid, .d-col, .d-wrapper, .btn{ box-sizing:border-box; }
.d-wrapper{ display:block; overflow:hidden; position:relative; width:100%; }
.d-table{ display:table; table-layout:fixed; }
.d-table__row{ display:table-row; }
.d-table__cell{ display:table-cell; vertical-align:middle; }
.d-cb:after, .d-grid:after, .d-row:after{ display:block; visibility:hidden; clear:both; height:0; content:"."; }
.d-clear{ clear:both; }
.d-ht{ display:block; overflow:hidden; text-align:left; text-indent:-999em; }
.d-db{ display:block; }
.d-ib, .btn{ display:inline-block; vertical-align:middle; }
.d-ha:after, .d-hb:before{ display:block; overflow:hidden; height:0; text-align:left; text-indent:-999em; content:"."; }
.d-fn{ float:none; }
.d-fl{ float:left; }
.d-fr{ float:right; }
.d-pr{ position:relative; }
.d-ps{ position:static; }
.d-tac{ text-align:center; }
.d-tal{ text-align:left; }
.d-tar{ text-align:right; }
.d-taj{ text-align:justify; }
.d-ttu{ text-transform:uppercase; }
.d-ttn{ text-transform:none; }
.d-lhn{ line-height:normal; }
.d-vat{ vertical-align:top; }
.d-vam{ vertical-align:middle; }
.d-vab{ vertical-align:bottom; }
.d-wsnw{ white-space:nowrap; }
.d-hidden, .d-hide-pc{ display:none; }
.d-bi{ background:no-repeat center/cover }
/* table */
.page-wrap table{ margin:2em 0; width:100% }
.page-wrap tr{ vertical-align:inherit; }
.page-wrap td, .page-wrap th{ padding:.5em 1em; border:1px solid #999; }
.page-wrap th{ background:#f0f0f0; font-weight:700; text-align:center; }
.page-wrap table.d-plain, .page-wrap table.d-plain th, .page-wrap table.d-plain td{ margin:0; padding:0; border:0; background:none; }
/* form */
.page-wrap button, .page-wrap input, .page-wrap select, .page-wrap textarea, #colorbox button, #colorbox input, #colorbox select, #colorbox textarea, .btn{ padding:.8em 15px; border:1px solid #c7c6c5; background:#fff; }
.page-wrap button, .page-wrap [type="button"], .page-wrap [type="reset"], .page-wrap [type="submit"], #colorbox button:not(#cboxClose):not(#cboxPrevious):not(#cboxNext), #colorbox [type="button"]:not(#cboxClose):not(#cboxPrevious):not(#cboxNext), #colorbox [type="reset"], #colorbox [type="submit"], .btn, .text-content .btn{ padding-right:2.1em; padding-left:2.1em; border:3px solid transparent; color:white; background-color:#cd0134; text-align:center; text-decoration:none; border-radius:34px }
.page-wrap button:hover, .page-wrap [type="button"]:hover, .page-wrap [type="reset"]:hover, .page-wrap [type="submit"]:hover, #colorbox button:hover, #colorbox [type="button"]:hover, #colorbox [type="reset"]:hover, #colorbox [type="submit"]:hover, .btn:hover, .btn-target-hover:hover .btn, .text-content .btn:hover{ border-color:#cd0134; color:black; background:none; text-decoration:none }
.page-wrap .btn_o, #colorbox .btn_o, .text-content .btn_o, .text-content .btn_o{ border-color:#cd0134; color:black; background:none; border-width:3px }
.page-wrap .btn_o:hover, #colorbox .btn_o:hover, .text-content .btn_o:hover{ color:white; background-color:#cd0134; }
.page-wrap input[type="checkbox"], .page-wrap input[type="radio"], #colorbox input[type="checkbox"], #colorbox input[type="radio"]{ position:absolute; left:-999em; padding:0; border:0; background:none; }
.page-wrap input[type="checkbox"] + .chr-text, .page-wrap input[type="radio"] + .chr-text, #colorbox input[type="checkbox"] + .chr-text, #colorbox input[type="radio"] + .chr-text{ display:inline-block; position:relative; padding-left:24px; cursor:pointer; }
.page-wrap input[type="checkbox"] + .chr-text:before, .page-wrap input[type="radio"] + .chr-text:before, #colorbox input[type="checkbox"] + .chr-text:before, #colorbox input[type="radio"] + .chr-text:before{ position:absolute; top:0; left:0; width:14px; height:14px; margin-top:.2em; border:1px solid #d1d6d7; border-radius:50%; color:white; background:#fff; text-align:center; content:""; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -ms-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
.page-wrap input[type="checkbox"] + .chr-text:after, .page-wrap input[type="radio"] + .chr-text:after, #colorbox input[type="checkbox"] + .chr-text:after, #colorbox input[type="radio"] + .chr-text:after{ opacity:0; visibility:hidden; position:absolute; top:6px; left:4px; width:8px; height:8px; border-radius:50%; color:white; background:black; text-align:center; content:""; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -ms-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
.page-wrap input[type="checkbox"]:checked + .chr-text:before, .page-wrap input[type="radio"]:checked + .chr-text:before, #colorbox input[type="checkbox"]:checked + .chr-text:before, #colorbox input[type="radio"]:checked + .chr-text:before{ color:#000; }
.page-wrap input[type="checkbox"]:checked + .chr-text:after, .page-wrap input[type="radio"]:checked + .chr-text:after, #colorbox input[type="checkbox"]:checked + .chr-text:after, #colorbox input[type="radio"]:checked + .chr-text:after{ opacity:1; visibility:visible; }
.page-wrap select{ -webkit-appearance:menulist; -moz-appearance:menulist; appearance:menulist; }
.page-wrap input:focus:not([type="submit"]), .page-wrap textarea:hover{ border-color:blue }
.page-wrap input[type="radio"] + .chr-text:before, #colorbox input[type="radio"] + .chr-text:before{ font-size:9px; }
.page-wrap input[type="radio"] + .chr-text:hover:after, #colorbox input[type="radio"] + .chr-text:hover:after, .page-wrap input[type="checkbox"] + .chr-text:hover:after, #colorbox input[type="checkbox"] + .chr-text:hover:after{ opacity:.5; visibility:visible; }
.page-wrap input[type="checkbox"]:checked + .chr-text:hover:after, #colorbox input[type="checkbox"]:checked + .chr-text:hover:after, .page-wrap input[type="radio"]:checked + .chr-text:hover:after, #colorbox input[type="radio"]:checked + .chr-text:hover:after{ opacity:1; visibility:visible; }
.page-wrap input[type="checkbox"] + .chr-text:before, #colorbox input[type="checkbox"] + .chr-text:before{ border-radius:0; }
.page-wrap input[type="checkbox"] + .chr-text:after, #colorbox input[type="checkbox"] + .chr-text:after{ font-family:'icon-meyson' !important;
  speak:none;
  font-style:normal;
  font-weight:normal;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  display:inline-block;
  content:"\e909";
  color:black;
  font-size:7px;
  top:7px;
  background:none }
/* transition */
.link, .page-wrap a, .page-wrap button, .page-wrap input, .page-wrap select, .page-wrap textarea, #colorbox a, #colorbox button, #colorbox input, #colorbox select, #colorbox textarea, .trans, .trans_hb:before, .trans_ha:after{ -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
.page-wrap .notrans, #colorbox .notrans, .notrans_hb:before, .notrans_ha:after{ -webkit-transition:all 0s; -moz-transition:all 0s; -o-transition:all 0s; transition:all 0s; }
.cbtrans{ -webkit-transition:all 1s cubic-bezier(.215, .61, .355, 1); -moz-transition:all 1s cubic-bezier(.215, .61, .355, 1); -o-transition:all 1s cubic-bezier(.215, .61, .355, 1); transition:all 1s cubic-bezier(.215, .61, .355, 1); }
/*** STYLES ***/
html, body{ height:100%; min-height:100%; }
body{ position:relative; }
#d-wrap{ overflow:hidden; position:relative; z-index:1; box-sizing:border-box; width:100%; min-height:100%; }
#d-header{ position:absolute; z-index:333; left:0; right:0; top:2.5em; }
#d-footer{ position:absolute; z-index:2; right:0; bottom:0; left:0; padding:52px 0 26px; }
.header__main{ display:flex; align-items:center; flex-flow:wrap }
.header__main .d-col{ flex:1 0 auto }
.nav-main__list{ }
.nav-main__item{ display:inline-block; position:relative; padding:0 .5em; line-height:1; vertical-align:middle; color:white; margin-left:1.2em; }
.nav-main__item:hover{ color:black; text-decoration:none }
.nav-main__link:hover{ color:black; text-decoration:none }
.footer .nav-main__link{ color:#959595; }
.footer .nav-main__link:hover{ color:black; }
.footer .header__main{ padding:1em 0; }
.footer__bottom{
  padding-top:.5em;
}
.footer__itrack img{ margin-bottom:-.4em; }
.why{
  background:no-repeat left bottom url(../img/main/main_photo_2.png);
  min-height:800px;
  display:flex;
  align-items:center;
}
.decor-fl{
  background:url(../img/decor_flower.png) no-repeat center/contain;
  position:absolute;
  padding-top:18.603%;
  width:18.13%;
  z-index:1;
  animation:decorfl 5s linear infinite alternate;
}
@keyframes decorfl{
  0%{ transform:translate3d(0, 0, 0) scale(1); }
  100%{ transform:translate3d(0, 0, 0) scale(.8); }
}
.decor-fl_reverse{
  animation-direction:alternate-reverse;
}
.decor-fl_1{
  left:-5%;
  top:2%;
}
.decor-fl_2{
  right:-3%;
  bottom:-13%;
}
.decor-fl_3{
  right:1%;
  bottom:1%;
}
.decor-fl_4{
  right:-11%;
  bottom:-47%;
  padding-top:30.603%;
  width:27.13%;
}
.decor-leaves{ position:absolute; background:no-repeat center/contain; z-index:-1 }
.decor-leaves_1{ left:-1.2%;
  bottom:-8%;
  background-image:url(../img/decor_leaves_1.png); width:603px; height:435px }
.decor-leaves_2{ right:0; bottom:0; background-image:url(../img/decor_leaves_2.png); width:404px; height:435px }
.decor-leaves_3{ right:-1%;
  top:6%; background-image:url(../img/decor_leaves_3.png); width:402px; height:566px }
.decor-leaves_4{ left:34%;
  bottom:-31%; background-image:url(../img/decor_leaves_4.png); width:471px; height:454px }
.decor-leaves_5{ left:4%;
  bottom:41%;; background-image:url(../img/decor_leaves_5.png); width:406px; height:398px }
.bg-decor{
  background:left url(../img/bg/bg_decor.png) #cd0134;
  padding:4.375em 0;
  background-attachment:fixed;
}
.advantages__item{ display:flex; margin-bottom:1.5em; flex-flow:wrap }
.advantages__item:last-child{ margin-bottom:0 }
.advantages__img:before{ content:''; display:inline-block; height:102px; width:102px; flex:1 0 auto; background:no-repeat center; margin-right:4.5em; }
.advantages__img_1:before{ background-image:url(../img/main/icon_main_1.png) }
.advantages__img_2:before{ background-image:url(../img/main/icon_main_2.png) }
.advantages__img_3:before{ background-image:url(../img/main/icon_main_3.png) }
.advantages__img_4:before{ background-image:url(../img/main/icon_main_4.png) }
.advantages__img_5:before{ background-image:url(../img/main/icon_main_5.png) }
.advantages__img_6:before{ background-image:url(../img/main/icon_main_6.png) }
.advantages__name{ font-family:Rubik; }
.advantages__descr{
  flex:1;
}
.advantages__controls{ display:flex; align-items:baseline; margin-top:-5em; flex-flow:wrap }
.box{
  background-color:white;
  padding:1.875em;
  color:black;
}
.test{ min-height:864px; padding-top:5.5em; }
.test__img{ position:absolute; left:0; right:51%; top:0; bottom:0; background:no-repeat right; z-index:-1 }
.test__item, .test__result{ display:none; }
.test__item_active, .test__result_active{ display:block; }
.test__step{ color:#959595; cursor:pointer }
.test__step:hover{ color:inherit }
.articles__item{ display:block; box-shadow:0 0.188em 0.125em rgba(0, 0, 0, 0.35); padding-bottom:1.5em; }
.articles__item:hover{ text-decoration:none }
.articles__image{ height:170px; background:no-repeat center/cover }
.articles__btn{ margin-left:.8em; width:200px }
.articles__name{
  margin:1.5em 0;
  letter-spacing:-.016em;
}
.articles__descr{
  padding:0em .8em 1em;
  height:13.5em;
  overflow:hidden;
}
.where-buy{
  padding-top:6em;
}
.where-buy__list{ display:flex; align-items:center; justify-content:space-between }
.list, .text-content ul{ list-style-type:none; }
.list li, .text-content ul li{ position:relative; padding-left:10px; }
.list li:before, .text-content ul li:before{ float:left; width:7px; height:7px; margin:.4em 0 0 -18px; border:2px solid #00aaf7; border-radius:50%; content:""; }
.slider-main{ overflow:hidden }
.slider-main, .slider-main__block{ height:100vh; }
.slider-main__title{ margin-bottom:.5em; }
.slider-main__block{ padding-top:185px; }
.slider-main__img{ position:absolute;
  background:no-repeat right top/contain;
  left:40%;
  right:0;
  top:0;
  bottom:0; }
.slider-main__content{ position:relative }
.slider-main__text{
  font-weight:600;
}
.slick-dots{ bottom:55px; text-align:left; max-width:1230px; margin:0 auto; left:0; right:0; padding:0 15px }
.slick-dots li{ width:17px; height:17px; border:0; background-color:#cd0134;; }
.slick-dots li:hover, .slick-dots li.slick-active{ opacity:1; background:white; border:2px solid #cd0134; }
.slick-arrow{ width:50px; height:50px; border-radius:50%; color:black; background-color:rgba(255, 255, 255, .2); font-size:1.25em; line-height:50px; }
.slick-arrow svg{ width:6px; }
.slick-arrow{ width:48px; height:48px; border:1px solid #c7e4eb; border-radius:3px; color:#00aaf7; line-height:48px; }
.slick-arrow:hover{ color:white; background:#00aaf7; }
.popup{ max-width:1100px; text-align:center; padding-bottom:80px; }
.map{ position:absolute; top:0; right:0; bottom:0; left:0; }
.d-mb_0{ margin-bottom:0 }
.d-mb_1{ margin-bottom:.5em }
.d-mb_2{ margin-bottom:1em }
.d-mb_3{ margin-bottom:1.5em }
.d-mb_4{ margin-bottom:2em }
.d-mb_5{ margin-bottom:2.5em }
.d-mb_6{ margin-bottom:3em }
.d-mb_7{ margin-bottom:3.5em }
.d-mb_8{ margin-bottom:4em }
.d-ml_0{ margin-left:0 }
.d-ml_1{ margin-left:.5em }
.d-ml_2{ margin-left:1em }
.d-ml_3{ margin-left:1.5em }
.d-ml_4{ margin-left:2em }
.d-ml_5{ margin-left:2.5em }
.d-ml_6{ margin-left:3em }
.d-ml_7{ margin-left:3.5em }
.d-ml_8{ margin-left:4em }
.d-pt_0{ padding-top:0 }
.d-pt_1{ padding-top:.5em }
.d-pt_2{ padding-top:1em }
.d-pt_3{ padding-top:1.5em }
.d-pt_4{ padding-top:2em }
.d-pt_5{ padding-top:2.5em }
.d-pt_6{ padding-top:3em }
.d-pt_7{ padding-top:3.5em }
.d-pt_8{ padding-top:4em }
.d-mr_0{ margin-right:0 }
.d-mr_1{ margin-right:.5em }
.d-mr_2{ margin-right:1em }
.d-mr_3{ margin-right:1.5em }
.d-mr_4{ margin-right:2em }
/*** MEDIA QUERIES ***/
@media (max-width:1169px) {
  html, body{ min-width:990px; min-height:100%; height:100%; }
  .d-hide_lg{ display:none !important; }
  .d-show_lg{ display:block !important; }
  .d-fn_lg{ float:none; }
  .d-fl_lg{ float:left; }
  .d-fr_lg{ float:right; }
  .d-tac_lg{ text-align:center; }
  .d-tal_lg{ text-align:left; }
  .d-tar_lg{ text-align:right; }
  .d-grid{ max-width:100%; }
  .is-fixed-layout .d-grid{ width:960px; }
  .d-table_db_lg, .d-table_db_lg .d-table__cell{ display:block }
}
@media (max-width:1024px) {
  html, body{ min-width:320px; font-size:14px }
  .d-hide_md{ display:none !important; }
  .d-show_md{ display:block !important; }
  .d-fn_md{ float:none; }
  .d-fl_md{ float:left; }
  .d-fr_md{ float:right; }
  .d-tac_md{ text-align:center; }
  .d-tal_md{ text-align:left; }
  .d-tar_md{ text-align:right; }
  .is-fixed-layout .d-grid{ width:735px; }
  .d-table_db_md, .d-table_db_md .d-table__cell{ display:block }
  .slider-main{
  }
  .nav-main__item{
    margin-left:3em;
  }
  .articles__item{ margin-bottom:2em }
  .why{
    background-size:400px;
  }
  .decor-leaves{ z-index:-1 }
  .decor-fl{ z-index:-1 }
  .btn{ line-height:1.2 }
  .slider-main, .slider-main__block{
    height:auto;
  }
  .decor-fl_2{ z-index:2 }
  .slick-dots{
    bottom:0;
  }
  .test__item br{ display:none }
  .test{ min-height:600px; padding-bottom:3em }
  .test__img{
    background:no-repeat top right/contain;
    width:39%;
    right:0;
  }
  .decor-fl_3{ display:none }
  .advantages__controls{ margin-top:0 }
}
@media (max-width:767px) {
  .d-hide_sm{ display:none !important; }
  .d-show_sm{ display:block !important; }
  .d-fn_sm{ float:none; }
  .d-fl_sm{ float:left; }
  .d-fr_sm{ float:right; }
  .d-tac_sm{ text-align:center; }
  .d-tal_sm{ text-align:left; }
  .d-tar_sm{ text-align:right; }
  .is-fixed-layout .d-grid{ width:612px; }
  .d-table_db_sm, .d-table_db_sm .d-table__cell{ display:block }

  h2, .h2{ font-size:1.7em; }
  h1, .h1{ font-size:2em; }
  .decor-leaves{ display:none }

  .slider-main, .slider-main__block{ height:auto }

  .nav-main__item{
    margin-left:0;
    color:black;
  }
  .slider-main__block{
    padding-top:220px;
  }
  .slick-dots{
    bottom:0;
  }

  .where-buy__link{
    padding:1em;
  }
  .why br{ display:none }
  .why{
    min-height:auto;
    background-image:none; padding:4em 0;
  }
  .advantages__controls .d-col:first-child{ order:1 }
  .advantages__controls{ padding:1em 0 3em; margin-top:0 }
  .advantages__controls .btn{ margin-bottom:1em }
  .where-buy{
    padding-top:3em;
  }
  .advantages__img{
    width:100%;
  }
  #colorbox #cboxNext, #colorbox #cboxPrevious{
    display:none !important;
  }
  .popup{ padding-bottom:0 }
}
@media (max-width:639px) {
  .d-hide_xs{ display:none !important; }
  .d-show_xs{ display:block !important; }
  .d-fn_xs{ float:none; }
  .d-fl_xs{ float:left; }
  .d-fr_xs{ float:right; }
  .d-tac_xs{ text-align:center; }
  .d-tal_xs{ text-align:left; }
  .d-tar_xs{ text-align:right; }
  .is-fixed-layout .d-grid{ width:100%; }
  .d-table_db_xs, .d-table_db_xs .d-table__cell{ display:block }
}
/*** PRINT STYLES ***/
@media print{
  @page{
    margin:.5cm;
  }
  *{ color:#333 !important; background:#fff !important; text-shadow:none !important; }
  a, a:visited{ border:0 !important; color:#333 !important; text-decoration:underline !important; }
  abbr:after{ content:" (" attr(title) ")"; }
  pre, blockquote{ border:1px solid #333; page-break-inside:avoid; }
  thead{ display:table-header-group; }
  tr, img{ page-break-inside:avoid; }
  p, h2, h3{ orphans:3; widows:3; }
  h2, h3{ page-break-after:avoid; }
}